
<form [formGroup]="profileForm">


    <input type="text" formControlName="phoneNumber"  [(appGenericMask)]= "phoneMask01" >
    <input type="text" formControlName="date"  [(appGenericMask)]= "date" >
    <input type="text" formControlName="zip"  [(appGenericMask)]= "zip" >

    <input appZero currencyMask  formControlName="currency" appNewCurrencyMask>
    new mask1 :
    <input type="text" formControlName="currency" appCurrencyMask1>

<button (click)= "onSubmit()">save</button>
</form>
<router-outlet></router-outlet>
